certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
fonttools==4.43.1
future==0.18.3
geocoder==1.38.1
gTTS==2.4.0
idna==3.4
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.7.3
numpy==1.24.4
packaging==23.2
pandas==2.0.3
Pillow==9.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-vlc==3.0.18122
pytube==15.0.0
pytz==2023.3.post1
ratelim==0.1.6
requests==2.31.0
six==1.16.0
ttkbootstrap==1.10.1
tzdata==2023.3
urllib3==2.0.7
youtube-dl==2021.12.17
zipp==3.17.0
